<ion-header>
  <ion-toolbar>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
 
    <ion-button expand="full" type="submit" [disabled]="resetForm.invalid">Register</ion-button>
    <ion-button expand="full" fill="clear" (click)="goToLogin()">Back to Login</ion-button>
   </form>
</ion-content>