<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
 
    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Register</ion-button>
    <ion-button expand="full" fill="clear" (click)="goToLogin()">Back to Login</ion-button>
   </form>
</ion-content>
